{% extends 'layout.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.description|truncatechars:145|striptags }}</p>
                <img src="{{ post.image.url }}" alt="{{ post.title }}" width="300">
                {% if post.url %}
                    <a href="{% url 'blog:post_detail' post.id %}" target="_blank">Click here to know more!</a>
                {% endif %}
                <p>Posted on: {{ post.date_posted }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}